@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

//all site
$font: "Raleway", sans-serif;

//btn
$weightbtn: 600;
$textbtn:500;

//text title/sub 
$weighttext:700;
$subtext:400;

